<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="idmkr.io">
        <meta name="base_url" content="http://www.fgtechs.fr/z-pedro/wwwluxuryservices">
        <meta name="csrf-token" content="9Tnm0YBCxgVTxoqI1HzccsU5NuE9RughZmhpzgXn">
        <!-- favicon -->

        <title>
            {% block title %}Zestarie recruitment & services{% endblock %}
        </title>
        <!-- boostrap4 formulaire symphony -->
         {# beware that the blocks in your template may be named different  #}
        {% block head_css %}
         <!-- Copy CSS from https://getbootstrap.com/docs/4.1/getting-started/introduction/#css -->
        {% endblock %}

        {% block head_js %}
    <!-- Copy JavaScript from https://getbootstrap.com/docs/4.1/getting-started/introduction/#js -->
        {% endblock %}

        {% block stylesheets %}{% endblock %}

        {% block style %}{% endblock %}
    </head>
    <body>
        <!-- Navigation -->
        <header id="header" class="tt-nav transparent-header ">
            <div class="header-sticky semi-transparent">
                <div class="container">

                    <div id="materialize-menu" class="menuzord">

                        <a class="brand logo-brand" href="/"></a>
                        <div id="mobile-menu">
                            <div class="nav-wrapper" id="toggle">
                                <span class="top"></span>
                                <span class="middle"></span>
                                <span class="bottom"></span>
                            </div>
                            <div class="icon-wrapper">
                                <span class="account">
                                    <a href="/edit.html">
                                        <i class="material-icons">&#xE7FD;</i>
                                    </a>
                                </span>
                            </div>
                            <div class="nav-overlay" id="overlay">
                                <nav class="overlay-menu">
                                    <ul>
                                        <li>
                                            <a href="/">Home</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('jobs') }}">Jobs Offers</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('aboutUs') }}">About Us</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('contact') }}">Contact</a>
                                        </li>

                                        <li>
                                            -</li>
                                        <li>
                                            <a href="{{ path('edit') }}">Profile</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('logout') }}">Logout</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <ul class="menuzord-menu pull-right light" role="navigation">
                                    <li class="active dropdown">
                                        <a target="_self" href="{{ path('edit') }}">
                                            <i class=""></i>
                                            <span>Profil</span>
                                        </a>
                                    </li>
                                    <li class=" dropdown">
                                        <a target="_self" href="{{ path('logout') }}">
                                            <i class=""></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                                <ul class="menuzord-menu pull-right light" role="navigation">
                                    <li class=" dropdown">
                                        <a target="_self" href="{{ path('login') }}">
                                            <span>Login</span>
                                        </a>
                                    </li>
                                    <li class=" dropdown">
                                        <a target="_self" href="{{ path('register') }}" class="btn bn-lg gradient secondary btn-block waves-effect waves-light btn-register">
                                            <span>Sign Up</span>
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                            <ul class="menuzord-menu pull-right light" role="navigation">
                                <li class="active dropdown">
                                    <a target="_self" href="/">
                                        <i class=""></i>
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li class=" dropdown">
                                    <a target="_self" href="{{ path('jobs') }}">
                                        <i class=""></i>
                                        <span>Jobs offers</span>
                                    </a>
                                </li>
                                <li class=" dropdown">
                                    <a target="_self" href="{{ path('aboutUs')  }}">
                                        <i class=""></i>
                                        <span>About us</span>
                                    </a>
                                </li>
                                <li class=" dropdown">
                                    <a target="_self" href="{{ path('contact') }}">
                                        <i class=""></i>
                                        <span>Contact</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {% block body %}{% endblock %}

        <!-- Footer -->
        <footer class="footer footer-four">
            <div class="primary-footer brand-bg text-center">
                <div class="container">

                    <a href="#top" class="page-scroll btn-floating btn-large gradient secondary back-top waves-effect waves-light" data-section="#top">
                        <i class="material-icons">&#xE316;</i>
                    </a>

                    <ul class="social-link tt-animate ltr mt-20">
                        <li>
                            <a href="#!" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>

                    <hr class="mt-10">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="brand footer-brand"></div>

                            <span class="copy-text">© 2018 All right reserved - by
                                <a href="https://idmkr.io/" target="_blank">IDMKR</a>
                                -
                                <a href="#!">Terms of use</a>

                            </span>
                            <div class="footer-intro">
                                <p>Luxury Services is a leading professional recruitment consultancy specialising in the recruitment of permanent, contract and temporary positions on behalf of the world’s top employers.</p>
                            </div>
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.primary-footer -->

            <div class="secondary-footer brand-bg darken-2 text-center">
                <div class="container">
                    <ul class="" role="navigation">
                        <li class="active dropdown">
                            <a target="_self" href="/">
                                <span>Home</span>
                            </a>
                        </li>
                        <li class=" dropdown">
                            <a target="_self" href="{{ path('jobs') }}">
                                <span>Jobs offers</span>
                            </a>
                        </li>
                        <li class=" dropdown">
                            <a target="_self" href="{{ path('aboutUs')  }}">
                                <span>About us</span>
                            </a>
                        </li>
                        <li class=" dropdown">
                            <a target="_self" href="{{ path('contact') }}">
                                <span>Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.secondary-footer -->
        </footer>

        {% block javascriptshaut %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript">
                document.querySelector(".rev_slider_wrapper").setAttribute("style", "background:url('assets/img" + (
                isMobile ? "/bg1.jpg" : "/bg3.jpg") + "');" + "background-size:cover;" + "background-position: center center;" + "height:" + window.innerHeight + "px");

                onAppReady(function () {
                    $('.preload').remove();
                    $(".materialize-slider").revolution({
                        sliderType: "standard",
                        sliderLayout: "fullscreen",
                        delay: 20000,
                        navigation: {
                            keyboardNavigation: "on",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style: "gyges",
                                enable: true,
                                hide_onmobile: false,
                                hide_onleave: true,
                                tmp: '',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 10,
                                    v_offset: 0
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 10,
                                    v_offset: 0
                                }
                            }
                        },
                        responsiveLevels: [
                            1240, 1024, 778, 480
                        ],
                        gridwidth: [
                            1240, 1024, 778, 480
                        ],
                        gridheight: [
                            700, 600, 500, 500
                        ],
                        disableProgressBar: "on",
                        parallax: {
                            type: "mouse",
                            origo: "slidercenter",
                            speed: 2000,
                            levels: [
                                2,
                                3,
                                4,
                                5,
                                6,
                                7,
                                12,
                                16,
                                10,
                                50
                            ]
                        }

                    });
                });
            </script>
        {% endblock %}

    </body>
</html>