{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>CampagnyName</th>
                <td>{{ client.campagnyName }}</td>
            </tr>
            <tr>
                <th>CampagnyType</th>
                <td>{{ client.campagnyType }}</td>
            </tr>
            <tr>
                <th>ContactName</th>
                <td>{{ client.contactName }}</td>
            </tr>
            <tr>
                <th>OccupiedPost</th>
                <td>{{ client.occupiedPost }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ client.phoneNumber }}</td>
            </tr>
            <tr>
                <th>ContactEmail</th>
                <td>{{ client.contactEmail }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ client.notes }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ client.updatedAt ? client.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ client.deletedAt ? client.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
